---
jenkins_version: 1.651.3
jenkins_user: jenkins
jenkins_group: jenkins
jenkins_connection_delay: 5
jenkins_connection_retries: 60
jenkins_hostname: localhost
jenkins_http_port: 8083
jenkins_url: http://{{ jenkins_hostname }}:{{ jenkins_http_port }}
jenkins_jar_location: /var/cache/jenkins/war/WEB-INF/jenkins-cli.jar
jenkins_updates_dir: /var/lib/jenkins/updates
jenkins_deb_package: jenkins_{{ jenkins_version }}_all.deb
jenkins_deb_package_checksum: 621f26c267c33e37829fecab780123d519ea1f83
jenkins_deb_url: http://pkg.jenkins-ci.org/debian-stable/binary/{{ jenkins_deb_package }}
jenkins_plugins:
  - git
  - workflow-aggregator
  - gradle
  - sonar
  - cucumber
  - jacoco
  - nexus-artifact-uploader
  - repository-connector
jenkins_url_prefix: ""